body{
    color: rosybrown;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cabecera {
    background-color: azure;
    font-weight: 500;
}